* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    font-family: monospace;
    scroll-behavior: smooth;
    color: white;
    background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
}

a {
    color: inherit;
}

main {
    width: 50%;
    margin: 2.4rem auto;
}

.header {
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    padding: 13px;
    border: 1px solid rgba(185, 185, 185, 0.5);
    margin-bottom: 13px;
    display: flex;
}

.header .back-to-home {
    margin-left: auto;
}

@media screen  and (max-width: 1024px) {
    main {
        width: 80%;
    }
}

@media screen  and (max-width: 1024px) {
    main {
        width: 95%;
    }
}

