* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.calculator *::selection {
    background: none;
    color: inherit;
}

body {
    font-family: monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 48px;
}

h1 {
    margin-bottom: 24px;
    color: #504e64;
}

.calculator {
    width: 300px;
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
    border-radius: 8px;
    overflow: hidden;
    border: 2px solid rgba(47, 47, 98, 0.2);
}


.btn {
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    aspect-ratio: 1;
    font-size: 20px;
    padding: 22px;
    background-color: #28262e;
    color: #d9e9f7b5;
}

.btn > div {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .5s all ease;
}

.btn >div:hover {
    background-color: #3c3844;
}

.digit {
    color: white;
}

.screen {
    padding: 12px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    color: #28262e;
    background-color: #d9e9f7b5;
    min-height: 122px;
}

.screen > div {
    flex-grow: 1;
    text-align: right;
}

.zero {
    grid-column: span 2;
    justify-self: flex-end;
    width: 50%;
}

.middle {
    border-top: 1px solid rgba(217, 233, 247, 0.2);
    border-bottom: 1px solid rgba(217, 233, 247, 0.2);
}

.screen .inputExp {
    font-size: 25px;
    font-weight: 400;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    opacity: .8;
    word-wrap: break-word;
    word-break: break-all;
}

.screen .result {
    font-size: 32px;
    font-weight: 600;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}